<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Water Controller on %h</name>

  <service>
    <type>_http._tcp</type>
    <port>8000</port>
    <txt-record>path=/</txt-record>
    <txt-record>role=water-controller</txt-record>
  </service>

  <service>
    <type>_mqtt._tcp</type>
    <port>1883</port>
    <txt-record>role=water-controller</txt-record>
  </service>
</service-group>
